<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Feature 1 Tab -->
    <ion-tab title="Feature 1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/feature1">
        <ion-nav-view name="tab-feature1"></ion-nav-view>
    </ion-tab>

    <!-- Feature 2 Tab -->
    <ion-tab title="Feature 2" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/feature2">
        <ion-nav-view name="tab-feature2"></ion-nav-view>
    </ion-tab>

    <!-- Feature 3 Tab -->
    <ion-tab title="Feature 3" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/feature3">
        <ion-nav-view name="tab-feature3"></ion-nav-view>
    </ion-tab>

</ion-tabs>